GlobalConfig:
  # Use node name (node) or dns name (dns) IP to update DNS
  UpdateDNSType: node
  # Wanted entries in the Round Robin DNS
  WantedRrDNSEntries: 3

# DNS info
DNSInfos:
  Name: ""
  Type: A
  TTL: 120
  Proxied: false

# Credentials
CloudFlareAPIInfos:
  Zoneid: ""
  Zonename: ""
  Email: ""
  Key: ""